[build]
functions = "netlify/functions"

# Ignore builds only for production
[context.production]
ignore = "exit 0"

# Allow builds for deploy previews and branch deploys
[context.deploy-preview]
ignore = "exit 1"

[context.branch-deploy]
ignore = "exit 1"

[images]
remote_images = ["cdn.shopify.com", "images.contentstack.io"]

[build.environment]
# cache Cypress binary in local "node_modules" folder
# so Netlify caches it
CYPRESS_CACHE_FOLDER = "./node_modules/CypressBinary"
# set TERM variable for terminal output
TERM = "xterm"

[[plugins]]
# runs Cypress tests against the deployed URL
package = "netlify-plugin-cypress"
[plugins.inputs]
browser = "electron"
